body {
    font-family: 'Crimson Text', serif;
}

.pic-self {
    max-width: 100%;
}

.pic-itty {
    max-width: 100%;
}

button,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

lengend {
    width: 0.0625rem;
    height: 0.0625rem;
    overflow: hidden;
}

input {
    font-family: inherit;
    font-size: 100%;
    width: 10rem;
    
}